
{% extends "wanderapp/base.html" %}

{% block title %}
    Wander
{% endblock %}

{% block body %}
<!-- Header image and text -->
<div class="hero-image">
    <div class="hero-text">
        experience your world
    </div>
</div>

<!-- Searchbox -->
<div class="form-group">
    <strong>Find a user</strong><br>
    <input id="user_search" autocomplete="off" autofocus class="form-control" name="user_search" 
        placeholder="Username" type="text">
</div>
<div id="content">
</div>

<script>
document.addEventListener('DOMContentLoaded', () => {
    // Get search input
    let input = document.querySelector('input');
    input.onkeyup = () => {
        var html = "";
        if (input.value) {
            // When there is an input loop through users and find matches
            {% for user in users %}
                if ("{{ user.username }}".toLowerCase().includes(input.value.toLowerCase())) {
                    html += `<a href={% url 'view_user' user.id %}><h3>{{ user.username }}</h3></a>`;
                }
            {% endfor %}
        }
        document.querySelector('#content').innerHTML = html;
    }
});
</script>

{% endblock %}