
{% extends "wanderapp/base.html" %}

{% block title %}
    {{ username }}
{% endblock %}

{% block script %}
{% load static %}
<script src="{% static 'wanderapp/user.js' %}"></script>
{% endblock %}

{% block body %}

<!-- Render map is current user has permission to view it -->
{% if my_profile or privacy == "public" %}
<h1>
    {% if my_profile %}
        Your map
    {% else %}
        {{ username }}'s map
    {% endif %}
</h1>
<div id="map"></div>
{% else %}
<h1>{{ username }}'s privacy settings restrict you from viewing their map</h1>
{% endif %}

<!-- If user is viewing their own profile show settings -->
{% if my_profile %}
<br>
<div class="row">
<div class="col">
    <!-- Change privacy setting -->
    <strong>Privacy</strong><br>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label id="public" class="btn btn-secondary" onclick="updatePrivacy('public')">
            <input type="radio" name="privacy" autocomplete="off" checked> Public
        </label>
        <label id="friends" class="btn btn-secondary" onclick="updatePrivacy('friends')">
            <input type="radio" name="privacy" autocomplete="off"> Friends Only
        </label>
        <label id="hidden" class="btn btn-secondary" onclick="updatePrivacy('hidden')">
            <input type="radio" name="privacy" autocomplete="off"> Hidden
        </label>
    </div>
    {% if places %}

    <!-- List user's marked places -->
    <div style="margin-top:1vw">
        <strong>Your Places</strong><br>
        <table class="table table-striped tablesorter">
            <tbody>
                {% for place in places %}
                    <tr>
                        <td>{{ place.label }}</td>
                        <td>{% if place.start_date %}{{ place.start_date }}{% endif %}</td> 
                        <td>{% if place.start_date %}-{% endif %}</td>
                        <td>{% if place.end_date %}{{ place.end_date }}{% endif %}</td>
                        <td>
                            <!-- Button to delete a place -->
                            <form action="{% url 'delete' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="place_id" value="{{ place.id }}">
                                <button type="submit" class="glyphicon glyphicon-trash" aria-hidden="true"></button>
                                </button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endif %}
</div>
<div class="col">
    <form action="{% url 'mark' %}" method="post">
        {% csrf_token %}
        <!-- add a location searchbox -->
        <div class="form-group">
            <strong>Add a location</strong><br>
            <input id="places_auto" autocomplete="off" autofocus class="form-control" name="searchbox" placeholder="Enter a location"
                type="text">
        </div>

        <!-- Visited flag select -->
        <select name="flag" class="form-control" style="margin-bottom:1vw">
            <option value="visited">I visited here</option>
            <option value="wishlist">I want to visit here</option>
            <option value="lived">I lived here</option>
            <option value="other">Other</option>
        </select>
        <br>    
        <button class="btn btn-primary" type="submit">Mark it!</button>
        <button id="details" class="btn btn-light" type="button" onclick="showHideDetails()">Details</button>
        <br>
        <!-- Additional place options -->
        <div id="advanced" style="display:none">
            <br>
            <!-- Time range -->
            <div class="form-group">
                <strong>Start Date</strong>
                <br>
                <input id="start" type="date" name="start-time" class="form-control">
            </div>
            <div class="form-group">
                <strong>End Date</strong>
                <br>
                <input id="end" type="date" name="end-time" class="form-control">
            </div>

            <!-- Notes -->
            <div class="form-group">
                <strong>Notes</strong>
                <br>
                <input id="notes" type="text" name="notes" class="form-control" autocomplete="off">
                <br>
            </div>
        </div>
    </form>
</div>
</div>
{% endif %}

<script>
// Show user's current privacy selection
document.addEventListener('DOMContentLoaded', () => {
    private_value="{{ privacy }}";
    document.getElementById(private_value).className += " active";
});

// Submit a change in privacy settings as a form
function updatePrivacy(setting) {
    post("{% url 'privacy' %}", {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        setting: setting,
    });
}

function initMap(f) {
    // Initialize map settings
    var options = {
        zoom: 2,
        styles: style,
        center: {lat:42.3601, lng:-71.0589},
        mapTypeControl: false,
        streetViewControl: false,
        minZoom: 2,
    };

    var map = new google.maps.Map(
        document.getElementById('map'), options);

    // Load icons for markers
    var icons = {
        visited: "http://labs.google.com/ridefinder/images/mm_20_black.png",
        wishlist: "http://labs.google.com/ridefinder/images/mm_20_white.png",
        lived: "http://labs.google.com/ridefinder/images/mm_20_orange.png",
        other: "http://labs.google.com/ridefinder/images/mm_20_gray.png",
    };
    // Call function to initialize places search
    f();

    // For each place in places add a marker
    markers = [];
    {% for place in places %}
    var lat = {{ place.lat }};
    var lng = {{ place.lng }};
    var label = "<h6>{{ place.label }}</h6>{{ place.notes }}";
    var flag = '{{ place.flag }}';
    addMarker(lat, lng, label, flag);
    {% endfor %}

    // If a new place has just been entered center on it
    {% if new_place %}
    new_marker = markers.pop();
    map.setCenter({lat:new_marker['lat'], lng:new_marker['lng']});
    map.setZoom(4);

    {% else %}
    // Otherwise zoom to fit all of the users' markers
    if (markers.length != 0) {
        var bounds = new google.maps.LatLngBounds();
        for (var i = 0; i < markers.length - 1; i++) {
            bounds.extend(markers[i].marker.getPosition());
        }
        map.fitBounds(bounds);
    }

    {% endif %}

    
    // Adds a marker
    function addMarker(lat, lng, name, flag){
        // Create marker
        var marker = new google.maps.Marker({
            position: {lat:lat, lng:lng},
            // icon will drop from the top of the map to its final location
            draggable: false,
            icon: icons[flag],
            map:map,
        });
        // Keep track of markers
        markers.push({'lat':lat,'lng':lng, 'marker':marker})
        // Add a marker label
        var contentString = name;
        var infoWindow = new google.maps.InfoWindow({
            content: contentString
        });
        // Set label to display on click
        marker.addListener('click', function(){
            infoWindow.open(map, marker);
        });
    }
}

// map style generate with https://mapstyle.withgoogle.com/
// I would have liked to factor this out but it doesn't seem
// to work if I put it in the javascript file?
var style = [
  {
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "elementType": "labels",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#523735"
      }
    ]
  },
  {
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "administrative",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#c9b2a6"
      }
    ]
  },
  {
    "featureType": "administrative.country",
    "elementType": "labels",
    "stylers": [
      {
        "color": "#6e917c"
      },
      {
        "visibility": "simplified"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#dcd2be"
      }
    ]
  },
  {
    "featureType": "administrative.land_parcel",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#ae9e90"
      }
    ]
  },
  {
    "featureType": "administrative.locality",
    "elementType": "labels",
    "stylers": [
      {
        "color": "#fff9d5"
      }
    ]
  },
  {
    "featureType": "administrative.neighborhood",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "administrative.province",
    "elementType": "labels",
    "stylers": [
      {
        "color": "#94aa9f"
      },
      {
        "visibility": "simplified"
      }
    ]
  },
  {
    "featureType": "landscape.natural",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "poi",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#93817c"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#a5b076"
      }
    ]
  },
  {
    "featureType": "poi.park",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#447530"
      }
    ]
  },
  {
    "featureType": "road",
    "stylers": [
      {
        "visibility": "off"
      }
    ]
  },
  {
    "featureType": "road",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f5f1e6"
      }
    ]
  },
  {
    "featureType": "road.arterial",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#fdfcf8"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#f8c967"
      }
    ]
  },
  {
    "featureType": "road.highway",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#e9bc62"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#e98d58"
      }
    ]
  },
  {
    "featureType": "road.highway.controlled_access",
    "elementType": "geometry.stroke",
    "stylers": [
      {
        "color": "#db8555"
      }
    ]
  },
  {
    "featureType": "road.local",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#806b63"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#8f7d77"
      }
    ]
  },
  {
    "featureType": "transit.line",
    "elementType": "labels.text.stroke",
    "stylers": [
      {
        "color": "#ebe3cd"
      }
    ]
  },
  {
    "featureType": "transit.station",
    "elementType": "geometry",
    "stylers": [
      {
        "color": "#dfd2ae"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "geometry.fill",
    "stylers": [
      {
        "color": "#b9d3c2"
      }
    ]
  },
  {
    "featureType": "water",
    "elementType": "labels.text.fill",
    "stylers": [
      {
        "color": "#92998d"
      }
    ]
  }
];

</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWty8o-JfoqiS3iIyMFxt3qcZBc7a9fGo&libraries=places&callback=init">
</script>
{% endblock %}